<footer class="bg-gradient-to-b from-[#174369] to-[#245F91] py-12 text-white">
  <div class="lg:container px-4">
    <div class="md:grid md:grid-cols-2 gap-12 pb-4 mb-6 border-b border-white/20">
      <div class="mb-4 md:mb-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.4399176901734!2d19.637370812226756!3d48.79077590534246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471564e458edad7f%3A0x952082e00db0c698!2sSEGAS%20LG%2C%20s.r.o.!5e1!3m2!1sen!2ssk!4v1777278234513!5m2!1sen!2ssk" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="adresa col-span-1">
        <p class="mb-6 text-lg"><span class="font-bold">SEGAS LG, s.r.o.</span><br/>Bystrá 286, Brezno</p>
        <p class="mb-6 text-lg"><span class="font-bold">Sklad a predajňa</span><br/> Cesta osloboditeľov 8, Brezno</p>
        <p class="mb-1 text-lg">IČO: 52859797</p>
        <p class="mb-6 text-lg">DIČ: 2121158006</p>
        <p class="phone mb-6 text-lg leading-relaxed"><a href="tel:0905 621 072">0905 621 072</a> - Gálfy<br/><a href="tel:0915 837 717">0915 837 717</a> - Sklad<br/><a href="tel:0905 633 443">0905 633 443</a> - Sklad<br/><a href="tel:0907 070 020">0907 070 020</a> - Obchodný zástupca, šofér</p>
        <p class="email"><a href="mailto:segas@slovanet.sk">segas@slovanet.sk</a></p><br/>
      </div>
    </div>
    <div class="md:grid md:grid-cols-2 gap-12 pb-4 mb-6 border-b border-white/20">
      <div class="mb-4 md:mb-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.5733145638856!2d20.688051512251356!3d49.30356846915543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473e0d86f0b3ece5%3A0xd2be0acf81e80c63!2zU0VHQVMgTEcsIHMuci5vLiAtIHBvYm_EjWthIFN0YXLDoSDEvXVib3bFiGE!5e1!3m2!1sen!2ssk!4v1777278309162!5m2!1sen!2ssk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-span-1">
        <h2 class="text-xl font-bold mb-4">Pobočka Stará Ľubovňa</h2>
        <p class="mb-6"><span class="text-lg font-bold">Ing. Jozef Straka</span><br />Farbiarska 1393/59<br/>064 01 Stará Ľubovňa</p>
        <p class="phone mb-6 text-lg leading-relaxed"><a href="tel:0911 636 360">0911 636 360</a><br/><a href="tel:0905 296 532">0905 296 532</a></p>
        <p class="email"><a href="mailto:jstraka@slnet.sk">jstraka@slnet.sk</a></p>
      </div>
    </div>
    <p class="note sm:text-center pt-8">&copy; {{ now|date('Y') }} SEGAS LG, s.r.o. Všetky práva vyhradené.</p>
  <div>
</footer>
